# Краткое описание полей и правил заполнения (описаны только нужные):

# ADMIN_IDS=123456789,123456789,123456789
# Указываются ID телеграм-аккаунтов администраторв, которые получат доступ
# к боту после инициализации (автоматически заносятся в БД).

# DB_HOST=database | CUSTOM
# В данном поле указывается адрес для подключения к БД - либо ip, либо домен,
# либо название конейнера, в случае запуска через Docker (database - название контейнера).

# LOGGER_LVL=DEBUG | INFO | WARNING | ERROR
# Уровень логгирования определяет, какая информация будет записываться в файл и выводиться в консоль.
# Для тестирования или отслеживания ошибок используется DEBUG, для обычного режима
# можно использовать любой другой уровень логгирования (обычно, INFO или WARNING).
# Чем ниже уровень - тем больше информации.

# ENV=prod | dev
# Переменная изменяет тип сборки - автоматическое изменение настроек,
# в зависимости от типа запуска - рабочая или сборка для разработки (меняется
# сценарий подгрузки переменных среды, а конкретно - адрес подключения к БД)

# Общие переменные
BOT_TOKEN=1234567890:QWERTYUIOP...
# ADMIN_IDS=123456789,123456789,...
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_pass

# Локальные переменные
DB_HOST=database
TZ=Europe/Moscow
LOGGER_LVL=INFO
ENV=prod